:root {
  --body: 'Lato', sans-serif;
  --display: 'Pangolin', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 2.25em;
  pointer-events: none;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -.17em;
  transform-origin: 50% 39%; /* rotate from center of circle */
  transform-origin: 50% 100%; /* sway from bottom tip */
  /* padding-bottom: 1em; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s ease-in-out;
    animation-direction: alternate;
  }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-3.3deg);
  }
  to {
    transform: rotate(3.3deg);
  }
}

body {
  font-family: var(--body);
}

h1, h2, h3, h4, h5 {
  font-family: var(--display);
  letter-spacing: .03em;
}

h1 {
  line-height: 0;
  margin-bottom: -1em;
  max-width: 100%;
}

h1 + p {
  margin: 0;
  padding: 0;
  padding-top: 1em;
  padding-left: 2.22em;
}

@media only screen and (max-width: 549px) {
  h1 {
    padding-bottom: 1em;
  }
}

label input {
  margin-left: .66em;
}

label {
  display: inline-block;
  margin: 0 1em 1em 0;
}